.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.JoinButton {
  /* Button */
position: absolute;
width: 216px;
height: 64px;
left: 612px;
top: 331px;

background: #F5F5FA;
/* Shadow 3 */
box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #FFFFFF;
border-radius: 32px;
}

.CreateButton {
  position: absolute;
  width: 216px;
  height: 64px;
  left: 610px;
  top: 437px;
  
  background: #F5F5FA;
  /* Shadow 3 */
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #FFFFFF;
  border-radius: 32px;
}

/* Name */
.title {
  position: absolute;
  width: 469px;
  height: 102px;
  left: 541px;
  top: 23px;

  /* XLargeTitle / Bold */
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 64px;
  /* or 119% */
  display: flex;
  align-items: center;

  /* Black Text / Primary */
  color: #020303;
}




