.join {
    position: absolute;
    width: 600px;
    height: 463px;
    left: 420px;
    top: 218px;

    background: #F5F5FA;
    /* Shadow 3 */
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #FFFFFF;
    border-radius: 32px;
}

.groupCodeInput { 
    position: absolute;
    width: 360px;
    height: 64px;
    left: 120px;
    top: 256px;

    background: #F5F5FA;
    /* Inner shadow 2 */
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(170, 170, 204, 0.25), inset 5px 5px 10px rgba(170, 170, 204, 0.5), inset -5px -5px 10px #FFFFFF;
    border-radius: 40px;
}

/* Join Group */
h2 {
    position: absolute;
    height: 103px;
    left: 103px;
    right: 103px;
    top: calc(50% - 103px/2 - 98px);

    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 40px;
    display: 62%;
    align-items: center;
    text-align: center;

    color: #000000;
}

::placeholder {
    position: absolute;
    height: 72px;
    left: 38px;
    right: 37px;
    top: calc(50% - 72px/2 + 4px);

    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    display: 167%;
    align-items: center;
    text-align: center;

    color: #A5A5BA;
} 

img {
    position: relative;
    width: 14px;
    height: 14px;
    left: 280px;
    top: 10px;
}






