.join {
    position: relative;
    display: inline-flex;
    height: 80vh;
    width: 60vh;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: #CBC5ED;
    /* Shadow 3 */
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #FFFFFF;
    border-radius: 32px;
}

.groupCodeInput { 
    position: absolute;
    width: 360px;
    height: 64px;
    margin: auto;
    font-size: 60px;
    text-align: center;
    background: #F5F5FA;
    /* Inner shadow 2 */
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(170, 170, 204, 0.25), inset 5px 5px 10px rgba(170, 170, 204, 0.5), inset -5px -5px 10px #FFFFFF;
    border-radius: 40px;
}

/* Join Group */
h2 {
    position: absolute;
    margin: auto;
    font-family: ABeeZee;
    padding-bottom: 40%;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    display: flex;
    text-align: center;
    align-items: center;
    text-align: center;

    color: #000000;
}

::placeholder {
    text-align: center;
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    display: flex;
    text-align: center;
    align-items: center;
    text-align: center;
    margin: auto;

    color: #A5A5BA;
} 

img {
    position: relative;
    width: 14px;
    height: 14px;
    margin-left: 80%;
    margin-bottom: 80%;
}






